/* CSS Document */
*{margin: 0 auto;
padding: 0 auto;
}
body{width: 1921px;
height: 6000px;
	position: relative;
	scroll-behavior: smooth;

}
#box-1{height: 1057.5px;
background-image: url(Img.png);
}

.menu{width: 1638px;
	height: 50px;
	padding-top: 52px;
	
}
.menu span{color: #02d871;
font-family: Karma;
font-weight: bold;
font-size: 32px;
  font-style: normal;
  text-shadow: -0.7px 5px 32px rgba(0, 0, 0, 0.75);
	float: left;
	letter-spacing: 8px;
}
.menu b{letter-spacing: 8px;
font-family: poppins;
	 font-weight: normal;
  font-stretch: normal;
  font-style: normal;
color: #fafafa;
  text-shadow: -0.7px 5px 32px rgba(0, 0, 0, 0.75);
font-size: 32px;
	float: left;
}

.menu ul li{display: inline-block;
width:150px;
float: right;
	padding-top: 20px;
}
.menu a{color: #fefefe;
 font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.56px;
		text-decoration: none;
}
.menu a:hover{color: #02d871;}
#border{width: 47px;
	height: 10px;
border-top: 4px solid #02d871;
float: left;
}
.text-1{height: 200px;
	width: 500px;
	margin: 411px 139px 0 310px;
  font-family: Poppins;
  font-size: 50px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
}
.text-1 h5{color: #ffffff;}
.text-1 p{color:#a3a3a3;
font-size: 18px;
	line-height: 3;
}
#box-1 button{width:200px;
height: 52px;
background-color:  #02d871;;
border-radius: 50px;
color:  #ffffff;
	font-size: 16px;
border: none;
margin-left: 311px;
box-shadow: -0.7px 5px 62px 0 rgba(2, 216, 113, 0.17);
	margin-top: 50px;
}

#box-2:hover button{background: #02d871;}
#box-4:hover button{background: #02d871;
	color: white;
	border: 2px solid  white;
}
#hop2:hover button{background: #5174E5;
	color: white;
	border: 2px solid  white;
}
#box-2{height: 884px;
	height: 769px;
	background-position: center ;
	background-image: url(Bg.png);
}
#box-2 img{width: 636px;
	margin: 150px 0 0 311px;
	float: left;
	position: relative;
}
.text-2{height: 182px;
width: 500px;
margin-left: 99px;
	margin-top: 212px;
float: left;
/*	background: #CD8081;*/
}
#box-2 h1{font-family: poppins;
	color: #333333;
	font-size: 36px;
}
#box-2  li{display: inline-block;
	width: 80px;
	color: #5174E5;
	text-align: center;
	font-family: raleway Semibold;
	font-weight: 700;
	line-height: 5;
	margin-bottom: 28px;
	font-size: 18px;
}
#box-2:hover li{color:#02d871;
}
#box-2 span{font-family: raleway;
	font-weight: normal;
	color: #222222;
	font-size: 15px;
	line-height: 28px;
}
#border-2{border: 3px solid #02d871;
	border-left: none;
width: 120px;
height: 339px;
	position: absolute;
	left: 850px;
	top: 1254px;
}
.text-2 button{
	width:200px;
	font-size: 16px;
height: 52px;
background-color: #5174E5;
border-radius: 50px;
color:  #ffffff;
border: none;
box-shadow: -0.7px 5px 62px 0 rgba(2, 216, 113, 0.17);
	margin-top: 35px;
}
#box-3{height: 621px;
	background-image: url(jjklllllllllllllllll.png);
	
}
#cover{width: 1250px;
height: 621px;
}
.text-3{width: 367px;
height: 315px;
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	margin-left: 40px;
	
	margin-top: 202px;
}
.text-3 i{font-size: 40px;
	margin: 68px 0 20px 0;
	color:  #02d871;
}
.text-3 p{line-height: 3;
	color: #222222;
	font-family: poppins Semibold;
	font-weight: bold;
	font-size: 18px;
}
.text-3 .border-1{border-top: 3px solid  #02d871;
width: 42px;
	height: 40px;
}
.text-3 span{font-size: 15px;
	font-family: raleway;
	font-weight: normal;
color:#777777;
	line-height: 1.7;
}
.text-3:hover{background:  #02d871;}
.text-3:hover span, .text-3:hover p, .text-3:hover i{color: white;}
 .border-1:hover{border-color: white;
}
#box-4{height: 1328px;
	background-image: url(wq.png);
	background-position: center;

}
.img{width: 1400px;
	height: 965px;
	padding-top:  122px;
/*	background: #D5A4A5;*/
}
.themoi{display: inline-block;
	margin-left: 34px;
	margin-bottom: 34px;
		transition: all 0.5s linear;
	overflow: hidden;
}
.themoi img{
	transition: all 0.5s linear;
}
.themoi:hover {
	transform: scale(0.75);
}
	

#box-4 h2{font-family: poppins Semibold;
	font-weight: 600;
	font-size: 24px;
	color:bdbdbd;
	text-align: center;
	margin-bottom: 20px;
}
.border-3{margin-bottom: 52px;
	width: 46px;
border-top:  3px solid #02d871;
}
#box-4 button{width:210px;
height: 52px;
background-color: white;
	font-size: 16px;
border-radius: 50px;
color:  #5174E5;
border: 2px solid  #5174E5;
	margin-top: 80px;
margin-left: 860px;
		-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); 
box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}
#box-5{height: 1380px;
	background: #fafafa;
	position: relative;
}
#skkx{
height: 530px;
}
.cover-2{width: 946px;
	height: 530px;
	background-image: url(fsfdfdfd.png);
	float: left;
}
#bao{width: 500px;
	height: 80px;
/*	background: #D37072;*/
	margin-top: 121px;
}
#mk{width: 80px;
height: 80px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 35px;
	background-position: center;
	background-size:full;
	background-repeat: no-repeat;
	transition: all 0.2s linear;
	overflow: hidden;
}
#mk img{
	transition: all 0.2s linear;
}
#mk:hover {
	transform: scale(1.25);
	border: 7px solid #02d871;
	
}
#mk-1{width: 80px;
height: 80px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 35px;
	background-position: center;
	background-size:full;
	background-repeat: no-repeat;
	transition: all 0.2s linear;
	overflow: hidden;
}
#mk-1 img{
	transition: all 0.2s linear;
}
#mk-1:hover {
	transform: scale(1.25);
	border: 7px solid #02d871;
}

#mk-2{width: 80px;
height: 80px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 35px;
	background-position: center;
	background-size:full;
	background-repeat: no-repeat;
	transition: all 0.2s linear;
	overflow: hidden;
}
#mk-2 img{
	transition: all 0.2s linear;
}
#mk-2:hover {
	transform: scale(1.25);
	border: 7px solid #02d871;
}
#mk-3{width: 80px;
height: 80px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 35px;
	background-position: center;
	background-size:full;
	background-repeat: no-repeat;
	transition: all 0.2s linear;
	overflow: hidden;
}
#mk-3 img{
	transition: all 0.2s linear;
}
#mk-3:hover {
	transform: scale(1.25);
	border: 7px solid #02d871;
}
.o-vuong{width: 643px;
height: 295px;
background:#02d871;
	position: absolute;
	top:300px;
	left: 195px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); 
box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
}
.o-vuong span{font-size: 18px;
	color: white;
	font-family: poppins;
	font-weight: normal;
	line-height: 32px;
	letter-spacing: 1px;
}
.o-vuong b{font-size: 20px;
	color: white;
	font-family: poppins Semibold;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 1px;
	float: right;
}
#mot{width: 560px;
height: 150px;
/*background: #82E1E3;*/
	align-content: center;
	padding-top: 55px;
}
.o-vuong i{box-sizing: border-box;
font-size: 32px;
	color: white;
	opacity: 0.2;
margin-bottom: 25px;
}
#gh{height: 530px;
	width: 975px;
	float: right;
}
.rt{width: 975px;
height: 420px;
	float: left;
/*	background-color: antiquewhite;*/
	
}
.mio{display: inline-block;
	margin: 75px 0 0 114px;
}
.mio img{width:95px;
	background-size:full;
	background-position: center;
}
.mio:hover img{background: url(hkytr.png);
background-size:contain;
	background-position: center;
}
.mio-1{display: inline-block;
	margin: 75px 0 0 114px;
	
}
.mio-1 img{width:95px;
	background-size:full;
	background-position: center;
}
.mio-1:hover img{background: url(eqq.png);
	background-size:contain;
	background-position: center;
}
.mio-2{display: inline-block;
	margin: 75px 0 0 114px;
}
.mio-2 img{width:95px;
	background-size:full;
	background-position: center;
}
.mio-2:hover img{background: url(ere.png);
	background-size:contain;
	background-position: center;
}
.mio-3{display: inline-block;
	margin: 75px 0 0 114px;
}
.mio-3 img{width:95px;
	background-size:full;
	background-position: center;
}
.mio-3:hover img{background: url(gfgf.png);
background-size:contain;
	background-position: center;
}
.mio-4{display: inline-block;
	margin: 75px 0 0 114px;
}
.mio-4 img{width:95px;
	background-size:full;
	background-position: center;
}
.mio-4:hover img{background: url(fdf.png);
	background-size:contain;
	background-position: center;
}
.mio-5{display: inline-block;
	margin: 75px 0 0 114px;
}
.mio-5 img{width:95px;
	background-size:full;
	background-position: center;
}
.mio-5:hover img{background: url(gfgswww.png);
	background-size:contain;
	background-position: center;
}
#mnj h2{font-size: 24px;
	font-family: poppins Semibold;
	font-weight: 600;
	line-height: 70px;
	color: #bdbdbd;
}
#mnj .border-4{
	width: 46px;
border-top:  3px solid #02d871;
	float: left;
-webkit-box-shadow: 0px 10px 15px 5px rgba(2,216,113,0.1); 
box-shadow: 0px 10px 15px 5px rgba(2,216,113,0.1);
}
#mnj{margin-left: 114px;
	height: 74px;
	width: full;
	margin-top: 40px;

}
#nsd{height: 848px;
	width: 1921;
}
#bn{width: 450px;
height: 305px;
	padding-top: 210px;
	float: left;
	padding-left: 280px;
}
#bn span{
	font-family: raleway;
	font-weight: normal;
	font-size: 16px;
	color: #777777;
	line-height: 32px;
	letter-spacing: 1px;
	
}
#bn h2{font-size: 24px;
	font-family: poppins Semibold;
	font-weight: 600;
	line-height: 70px;
	color: #bdbdbd;
}
#bn .border-5{width: 46px;
border-top:  3px solid #02d871;
	float: left;
-webkit-box-shadow: 0px 10px 15px 5px rgba(2,216,113,0.1); 
box-shadow: 0px 10px 15px 5px rgba(2,216,113,0.1);
}

.ssss i{font-size: 18px;
color: #02d871;
	margin-top: 11px;
}
.ssss{border: 2px solid  #02d871;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	float: left;
		margin-top: 70px;
	text-align: center;
}
.ssss:hover{background:#02d871;
border: 2px solid  #02d871;
}
.ssss:hover i{color: white;
}
.ssss-1 i{font-size: 18px;
color: #02d871;
	margin-top: 11px;
}
.ssss-1{border: 2px solid  #02d871;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	float: left;
		margin-top: 70px;
	text-align: center;
	margin-left: 30px;
}
.ssss-1:hover{background:#02d871;
border: 2px solid  #02d871;
}
.ssss-1:hover i{color: white;
}
.hj{width: 335px;
	height: 490px;
background: #fafafa;
	display: inline-block;
	margin-left: 69px;
	margin-top: 210px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1); 
box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
	
}
.ho span{font-size: 18px;
	font-family: poppins;
	font-weight: normal;
	line-height: 50px;
	color: #222222;
}
.ho b{font-size: 18px;
	font-family: poppins;
	font-weight: normal;
	line-height: 50px;
	color: #222222;
	margin-right: 20px;
}

.ho p{font-family: raleway;
	font-weight: normal;
	font-size: 15px;
	color: #777777;
	line-height: 26px;
}
.ho{width: 300px;
height: 125px;
	margin-left: 45px;
	margin-top: 15px;
}
#box-6{height: 388px;
background-image: url(mjj.png);
}
#box-6 h3{font-size: 36px;
	font-family: raleway;
	font-weight: bold;
	line-height: 44px;
	color: white;
text-align: center; 
	letter-spacing: 1px;
}
#hop2{width: 700px;
height: 170px;
	padding-top: 108px;
}
#hop2 button{width:210px;
height: 52px;
background-color: white;
	font-size: 16px;
border-radius: 50px;
color:   #02d871;
border: 2px solid  #02d871;
	margin-top: 43px;
margin-left: 240px;
}
#box-7{height: 456px;
	background-image: url(a8w.png);
	text-align: center;
}
#misp{border-bottom: 3px solid #e0e0e0;
width: 1046px;
height: 5px;
padding-top: 99px;

}
#box-7 p{font-family: raleway;
	font-weight: normal;
	font-size: 16px;
	color: #777777;
	line-height: 70px;
	letter-spacing: 1px;
	margin-top: 30px;
}
#box-7 span{font-family: raleway;
	font-weight: normal;
	font-size: 15px;
	color: #777777;
	line-height: 70px;
	letter-spacing: 1px;}
#box-7 i{margin-left: 30px;
color: #02d871;
}
	#tenkhac {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 50px;
  border: none;
  outline: none;
  color: #02d871;
  cursor: pointer;
  padding: 15px;
		background: none;
}

#tenkhac:hover {
 color: #5174E5;
}
@media (max-width: 375px){
.menu span {font-size: 23px;
	color: #5174e5;
}
.menu {font-size: 18px;
	
}
.menu b {font-size: 23px;
	
}
body {align-content: center;
	background-size: cover;
}
#box-1 {
	
}
.text-1 {
	
}
}
